body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
}

/* ====== GENERAL ====== */
.btn {
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    border-width: 1px;
    border-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ======= NAVBAR ======= */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
}

.nav-item-icon {
    width: 30px;
    height:  30px;
}

/* ======= HERO DESIGN ======= */

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
}

/* === IMAGE === */

.img__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section {
    margin-top: 2em;
}

.img {
    width: 300px;
}

/* === ARTICLE === */
.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.p {
    width: 800px;
    justify-content: center;
}

/* === PARENT === */

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.parent__1 {
    width: 700px;
}

.h2 {
    padding-top: 2rem;
}

/* === FORM */

.contact__input {
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-color: white;
    padding: 0.9em;
    padding-right: 10rem;
}

/* === FIGURE === */

.container {
    width: 100%;
    height: auto;
    position: relative;

}
.div__img {
    width: 100%;
    height: auto;
}

.div__text {
    text-align: center;
    position: absolute;
    padding-top: 4em;  
}

.div__btn {
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    border-width: 1px;
    border-color: white;
    flex-direction: column;
    align-items: center;
}
